{{template "base" .}}

{{define "content"}}

<div class="container">

    <div class="row">
      <div class="col">
        <img src="/static/images/majors-suite.png" class="img-fluid img-thumbnail mx-auto d-block room-image">
        </div>
    </div>

    <div class="row">
      <div class="col">
        <h1 class="text-center mt-4">Major's Suite</h1>  
        <p>
          Your home away from home. A place where memories are made.
          Your home away from home. A place where memories are made.
          Your home away from home. A place where memories are made.
          Your home away from home. A place where memories are made.
        </p>
      </div>  
    </div>

    <div class="row">
      <div class="col text-center">
      <a id='check-availability-btn' href="#!" class="btn btn-success">Check Availability</a>
      </div>
    </div>

</div>

{{end}}

{{define "js"}}
    <script>
              document.getElementById("check-availability-btn").addEventListener("click", function() {
        let html =`
        <form id="check-availablity-form" action="" method="post" novalidate class="needs-validation">
          <div class="row">
            <div class="col">
              <div class="row" id="reservation-dates-modal">
                <div class="col">
                  <input required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                </div>
                <div class="col">
                  <input required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                </div>
              </div>
            </div>
          </div>
        </form>
        `
        
        // notifyModal("title", "<em>hello, world</em>", "success", "My Text");
        attention.custom({msg: html, title: "Choose your dates:"})
      })
    </script>
{{end}}